@font-face {
    font-family: 'digital-7-mono';
    src: url('font/digital-7-mono.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    /* 수평 */
    justify-content: center;
    /* 수직 */
    align-items: center;
    /* 콘텐츠 영역을 전체로 */
    height: 100vh;
    background-image: url(./images/bg01.webp);
    /* background-repeat: no-repeat; */
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.app img {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

img:hover {
	animation: shake 0.3s infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes shake {
    0%{
       transform: translate(1px, 1px) rotate(0deg);
    }
    10%{
       transform: translate(-1px, -1px) rotate(1deg);
    }
    20%{
       transform: translate(-2px, 1px) rotate(-1deg);
    }
    30%{
       transform: translate(1px, 2px) rotate(0deg);
    }
    40%{
       transform: translate(-1px, 1px) rotate(1deg);
    }
    50%{
       transform: translate(1px, -1px) rotate(-2deg);
    }
    60%{
       transform: translate(2px, 1px) rotate(1deg);
    }
    70%{
       transform: translate(-1px, 2px) rotate(2deg);
    }
    80%{
       transform: translate(2px, -1px) rotate(1deg);
    }
    90%{
       transform: translate(-1px, 2px) rotate(0deg);
    }
    100%{
       transform: translate(2px, 1px) rotate(-1deg);
    }
 }

/* .app {
    width: 450px;
    height: 450px;
    border: 1px solid #333;
    border-radius: 50%;
    position: relative;
} */

.clock {
    /* background: #999; */
    font-family: 'digital-7-mono', monospace;
    font-size: 80px;
    position: absolute;
    top: 55%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.clock p {
    color: #ccc;
}

.clock .container {
    display: flex;
    /* height: 140px; */
    /* padding: 30px; */
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #000;
}

.ampm {
    font-size: 50px;
}